/* ==========================================================================
   reset all
   ========================================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display & box model */
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
}

main {
    /* display & box model */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* ==========================================================================
   components
   ========================================================================== */

/* nav drawer
   ========================================================================== */
.nav-drawer {
    /* display & box model */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    padding: 0.5rem;
    /* other */
    background-color: #fff;
    border-right: 1px solid #F0F0F0;
}

.menu-item {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    padding: 0.5rem;
    gap: 0.5rem;
    /* other */
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.menu-item:hover {
    background-color: #E6F4FF;
}

.menu-item-active {
    background-color: #E6F4FF;
    color: #1677FF !important;
}

.menu-item-links {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    /* other */
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

/* logo
   ========================================================================== */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem 2rem 0.5rem;
}

/* buttons
   ========================================================================== */
.btn-icon {
    /* display & boy model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* other */
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn-icon:hover {
    /* other */
    background-color: #E5E5E5;
}

/* toolbar
   ========================================================================== */
.toolbar {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem ;
    /* other */
    background-color: #fff;
    border-bottom: 1px solid #F0F0F0;
}

.help-user {
    /* display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.user {
    /* display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    /* other */
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.user:hover {
    /* other */
    background-color: #E5E5E5;
}


/* ==========================================================================
   styles
   ========================================================================== */
a, 
a:link,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: #000;
}


/* ==========================================================================
   font
   ========================================================================== */
h1, h4 {
    font-family: 'Public Sans';
}

h1 {
    font-weight: 700;
    font-size: 1.375rem;
}

h4 {
    font-weight: 500;
    font-size: 0.875rem;
}

/* implementation
   ========================================================================== */
/* bold */
@font-face {
    font-family: 'Public Sans';
    src: url(./sources/font/PublicSans-Bold.ttf) format('truetype');
    font-weight: 700;
}

/* medium */
@font-face {
    font-family: 'Public Sans';
    src: url(./sources/font/PublicSans-Medium.ttf) format('truetype');
    font-weight: 500;
}